.dashboard {
    display: flex;
    justify-content: space-between;
    .chatContainer-colum {
        width: 25%;
        min-width: 440px;
    }
    .swipe-colum {
        width: 75%;
        @include flex-box-column();
        background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0) 100%    
    ), url("./img/bk-pet-tinder.jpg");
    .card {
        width: 400px;
        height: 650px;
        border-radius: 30px;
        background-size: cover;
        background-position: center;
        border: 10px solid white;
        position: relative;
        overflow: hidden;
    & h3 {
        background: red;
        position: absolute;
        bottom: -20px;
        width: 100%;
        padding: 20px 0px;
        text-align: center;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color:$base-color-red;
        color:$base-color-w;
        font-size:$base-font-M;
        font-weight:$base-weight-normal;
        font-family: $base-font;
    }
    .h3-span {
        margin-top: -8px;
        font-weight: 800;
        font-size: 28px;
    }
    }
    }
}
.matches-display {
    .match-card {
        display: flex;
    .img-container {
        width: 60px;
            height: 60px;
            border-radius: 50px;
            overflow: hidden;
            margin: 10px;
            border: 2px solid white;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            cursor: pointer;
    }
    & h3 {
        color:$base-color;
        font-size:1.2rem;
        font-weight:400;
        font-family: $base-font;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    }
}
.swipe-info {
    
    p {
        font-size: 19px;
        padding: 0px!important;
        margin: 5px;
        font-weight: 600;
        position: absolute;
    bottom: 45px;
    padding: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 50px;
    color:$base-color;
    font-size:$base-font-M;
    font-weight:$base-weight-normal;
    font-family: $base-font;
    }
}
.dashboard .swipe-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.swipe {
    position: absolute;
}
.card-container {
    width: 400px;
    height: 650px;
}
.card h3 {
    margin-top: 0;
}


.loading-page {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgb(255,217,217);
    background: radial-gradient(circle, rgba(255,217,217,1) 0%, rgba(226,125,125,1) 63%, rgba(255,0,0,1) 100%);
    .spinner {
        width: 200px;
        height: 200px;
    }
}