.auth-modal {
    @include style-modal();
    .secondary-button {
        @include base-button();
        width: 100%;
    }
    .h2--howWorks {
        text-align: center;
        font-style: initial;
        font-weight: 700;
    }
    .p--howWorks {
        text-align: center;
        font-size: $base-font-S;
    }
    .btn-howWorks {
        @include line-button();
    }
    .close-icon {
        float: right;
    }
    h2 {
        text-align: left;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    input[type="password"], input[type="email"]{
        @include base-input();
    }
}