@import "./common/vars.scss";
@import "./pages/Home/home";
@import "./pages/About/about";
@import "./pages/SignUp/signUp";
@import "./pages/Dashboard/dashboard";
@import "./components/ChatContainer/chatContainer";
@import "./components/ChatInput/chatInput";
@import "./components/ChatHeader/chatHeader";
@import "./components/ChatDisplay/chatDisplay";
@import "./components/Chat/chat";
@import "./components/AuthModal/authModal";
@import "./components/Nav/Nav";
@import "./components/MatchesDisplay/matchesDisplay";
// get our fontawesome imports

html, body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
//FONT POPPINS
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.secondary-button {
  color: rgb(121,119,119);
  background-color: white;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px  rgb(121,119,119);
  margin: 6px;
}

.secondary-button:hover {
  color: rgb(48,48,48);
  border: solid 2px rgb(48,48,48);
}

h2 {
  font-style: italic;
}

.primary-title {
  font-size: 90px;
  color: rgb(255,255,255);
  
}
