@import "./pages/Home/home";
@import "./pages/SignUp/signUp";
@import "./pages/Dashboard/dashboard";
@import "./components/ChatContainer/chatContainer";
@import "./components/ChatInput/chatInput";
@import "./components/ChatHeader/chatHeader";
@import "./components/ChatDisplay/chatDisplay";
@import "./components/Chat/chat";

.App {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}