//VAR COLOR
$base-color: black;
$base-color-w: white;
$base-color-red:#f24537;
//VAR WEIGHT
$base-weight-normal:300;
$base-weight-think:100;
$base-weight-bold:600;
//VAR SIZE FONT
$base-font-logo: 3.7rem;
$base-font-S: 0.9rem;
$base-font-M: 1rem;
$base-font-L: 0.9rem;
//VAR FONT
$base-font: "Poppins", sans-serif;
//VAR PADDING & MARGIN
$none-pad: 0px;
$none-margin: 0px;
//BORDER-RADIUS
$bor-10: 10px;
$bor-40: 40px;
//MIXINGS
@mixin flex-box-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flex-box-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 15px;
}
//BUTTON GENERAL STYLE
@mixin base-button {
background-color:$base-color-red;
border-radius:$bor-40;
color:$base-color-w;
font-size:$base-font-M;
font-weight:$base-weight-bold;
font-family: $base-font;
display:inline-block;
cursor:pointer;
padding:9px 76px;
text-decoration:none;
text-shadow:0px 0px 0px #810e05;
margin: 10px 0px 0px 0px;
border: none;
&:hover {
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color:#c62d1f;
  border: none;
  color: $base-color-w;
}
&:active {
  position:relative;
  top:1px;
}
}
@mixin base-button-nav--item  {
  color:$base-color-w;
  font-size:$base-font-M;
  font-weight:$base-weight-bold;
  font-family: $base-font;
  text-decoration: none;
  font-weight: 400;
}
//BUTTON LINE STYLE
@mixin line-button {
  border-radius: $bor-40;
  color: $base-color;
  font-size: $base-font-M;
  background: $base-color-w;
  border: 2px solid black;
  text-align: center;
  font-weight: $base-weight-bold;
  cursor:pointer;
  &:hover {
    background: linear-gradient(to bottom, #e6e6e6 5%, #e9e9e9 100%);
    background-color: #cbcbcb;
    cursor:pointer;
  }
  &:active {
    position:relative;
    top:1px;
  }
  }

  @mixin seudo-nav {
    margin: $none-margin;
    color: $base-color-w;
    font-family: $base-font;
    font-size: $base-font-M;
    font-weight: $base-weight-normal;
    display: flex;
    gap: 28px;
    justify-content: END;
    align-items: END;
    width: 100%;
    margin-right: 0pc;
    @media (max-width: 860px) {
      justify-content: center!important;
      align-items: center!important;
  }
  }
//INPUT GENERAL STYLE
@mixin base-input {
    border-radius: 50px;
    border: 1px solid #0000004a;
    font-size: 14px;
    padding: 10px 10px;
    margin: 5px 0px;
}
//MODAL STRUCTURE
@mixin style-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 450px;
    background-color: $base-color-w;
    font-family: $base-font;
    border-radius: $bor-10;
    padding: 40px;
    box-shadow:rgb(48 48 48 / 27%) 0px 7px 60px 0px;
  }

//MEDIA QUERY
$small: 300px;
$medium: 900px;

.smth {
  //some CSS
  @media screen and (max-width: $small) {
    .auth-modal {
      position: absolute!important;
      padding: 161px 10px 50px 10px!important;
      margin-left: auto!important;
      margin-right: auto;
      max-width: 360px;
      height: 100%!important;
      background-color: white;
      font-family: "Poppins", sans-serif;
      border-radius: 10px;
      padding: 40px;
      box-shadow: rgba(48, 48, 48, 0.27) 0px 7px 60px 0px;
  }
  }
  @media screen and (min-width: $medium) {
    //do Smth
  }
}