nav .nav-button:disabled {
    background-color: rgb(181, 180, 180);
    color: rgb(193,38,75);
}
nav.isotipo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    column-gap: 20px;

    @media (max-width: 860px) {
        flex-direction: column;
    }

    img.logo-isotipo {
        width: 219.5px;
    }
    .nav-button {
        @include base-button ();
        padding: 9px 60px;
        height: 33px;
        line-height: 0px;
        min-width: 180px!important;
    }
    button.nav-button {
        margin: 0px!important;
    }
    .itemsMenu-container {
        width: 100%;
        display: flex;
        justify-content: end;
    }
    .container-nav {
        @include seudo-nav();
        
        .containerNav--item {
            &:hover {
                color:#f24537;
            }
        }

    }
    a.containerNav--item {
        @include base-button-nav--item ();
        &:hover {

            color:#f24537;

        }
    }
}


